$navbar_bg_color: #121212;
$navbar_txt_color: #F2F2F2;
$navbar_box_shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
$content_box_shadow: 1px 0px 0px rgba(0, 0, 0, 0.15);
$error_txt_red: #EC5757;
$color_txt_grey: #333333;
$color_txt_grey_light: #828282;
$row_box_shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.15);
$black_txt: #000;